[submodule "enyo"]
	path = enyo
	url = https://github.com/enyojs/enyo.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = https://github.com/enyojs/onyx.git
[submodule "lib/layout"]
	path = lib/layout
	url = https://github.com/enyojs/layout.git
[submodule "source/vendors/google-reader"]
	path = source/vendors/google-reader
	url = git@github.com:Tibfib/Google-Reader-Library
