/* Variables for themes */
$red: #cc3333;

/* Classes used throughout */
.abs {
	position: absolute;
}
.floatRight {
	float: right;
}
.floatLeft {
	float:left;
}

@mixin truncated-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.truncating-text {
	@include truncated-text;
}


.centered {
	margin: 10px;
	@media screen and (min-width: 650px) {
		width: 300px;
		margin: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 0;
		height: 0;
	}
}

.loading {
	font-size: 26px;
	margin: 20px;
	text-align: center;
}

//overwrites of default styles

/* 
 *	Login Stuff
 */

.loginGroup {
	@media screen and (min-width: 400px) {
		width: 300px;
	}
	@media screen and (min-width: 500px) {
		width: 400px;
	}
	
}

/* CHECK FOR CROSS PLATFORM COMPATIBILITY */

.onyx-popup > * {
	margin: 10px 5px;
}
.onyx-popup {
	.onyx-button {
		width: 47.5%;
	}
}


.errorMessage {
	text-align: center;
	color: $red;
	font-size: 14px;
	margin-top: 5px;
}

/* Grid Page Stuff */

.onyx-toolbar {
	.onyx-icon-button {
		/* Might work */
		@media screen and (min-width: 650px) {
			margin: {
				left: 10px;
				right: 10px;
			}
		}
	}
}

.grid {
	padding-left: 5px;
	padding-top: 5px;
	background: #666 url("../../assets/grid-background.png") repeat top left;
}

$unreadDisplaceY: 72px;
$iconDisplaceY: $unreadDisplaceY + 8px;
.iPad, .iPhone, {
	.grid-item {
		.unread {
			bottom: $unreadDisplaceY + 7px;
		}
		.icon {
			bottom: $iconDisplaceY + 10px;
		}
	}
}
.grid-item {
	margin: 5px;
	padding-top: 5px;
	height: 88px; 
	@media screen and (min-width: 650px) {
		width: 110px; 
	}
	@media screen and (max-width: 650px) {
		width: 93px; 
	}
	float: left; 
	text-align: center;
	font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
	color: white;

	
	/*border: 1px red solid;*/
	.unread {
		position: relative;
		font-size: 15px;
		font-weight: bold;
		bottom: $unreadDisplaceY;
		// I want this to work.
		//hasClass(.iPad, .iPhone) {
		//	bottom: $unreadDisplaceY + 7px;
		//}
	}
	.icon {
		position: relative;
		bottom: $iconDisplaceY;
		//I want this to work
		//hasClass(.iPad, .iPhone) {
		//	bottom: $iconDisplaceY + 10px;
		//}
	}
	.title {
		padding-top: 2px;	
		@include truncated-text;
		font-size: 16px;
	}
	&:active {
		background-color: rgba(0,0,0,.1);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

	}

}

.subTitle {
	/*margin: auto;*/
 	text-align: center;
	width: 100%;
	/*@TODO: CHANGE THIS WHEN WE CHANGE THE INCLUDE READ BUTTON */
	padding: 0px 160px 0px 90px;
	@include truncated-text;
}

.settingsList, .addFeedList {
	margin: 20px auto;

	@media screen and (min-width: 650px) {
		max-width: 500px; 
	}
}

.onyx-button.full {
	width: 100%;
	margin: 5px 0;
}

.articlePanel {
	z-index: -1;
	margin-top: 54px; /*height of toolbar*/

	
	.articleList {
		width: 350px;	
		
		.article-selected {
			background-color: rgba(10, 100, 255, 0.07)
		}

		.item {
			border-bottom: 1px solid silver;
			padding: 10px 12px 5px 20px;
			/*background-color: #eee;*/
			font-size: 16px;
			max-height: 78px;
			min-height: 60px;

			.unreadIndicator {
				width: 5px;
				/*@TODO: work on this more. I want this to stretch.*/
				min-height: 44px;
				height: 100%;
				float: left;
				position: relative;
				bottom: 3px;
				right: 10px;
				background-color: #ff7800;
			}

			.articleTitle {
				max-height: 36px;
				text-overflow: ellipsis;
				overflow: hidden;
				/*white-space: nowrap;*/
			}

			.articleTime {
				float: right;
				color: #888;
				font-size: 14px;
				padding-left: 5px;
			}

			.articleSubtitle {
				color: #888;
				font-size: 14px;
				padding: 5px 0px;
				@include truncated-text;
			}
		}

		.divider {
			background-color: #666;
			color: white;
			font-weight: normal;
			font-size: 14px;
			margin: 0;
			padding: 5px 25px;

		}

	}

	.articleView {
		border-left: 1px #3A3A3A solid;

		.articleContent {
			font-size: 16px;
			margin: 15px;
		}	
		.articleTitle {
			font-weight: bold;
			font-size: 16px;
			margin: 15px;
		}
		.articleTime {
			margin: 20px;
			float: right;
			color: #888;
			font-size: 14px;
		}
	}
	
}