/* Variables for themes */
/* Classes used throughout */
.abs {
  position: absolute; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.padRight {
  padding-right: 10px; }

.truncating-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.loading {
  font-size: 26px;
  margin: 20px;
  text-align: center; }

/* 
 *	Login Stuff
 */
.onyx-toolbar {
  padding: 5px 8px 5px 8px; }

/*.loginGroup {
	@media screen and (min-width: 400px) {
		width: 300px;
	}
	@media screen and (min-width: 500px) {
		width: 400px;
	}
	
}*/
.titleBarText {
  font-size: 16px;
  vertical-align: middle;
  line-height: 29px; }

/* CHECK FOR CROSS PLATFORM COMPATIBILITY */
.onyx-popup > * {
  margin: 10px 5px; }

.loginPopup {
  width: 300px; }
  .loginPopup .popupText {
    margin: 5px 10px; }

.onyx-popup > * {
  margin: 5px 5px; }

.errorMessage {
  text-align: center;
  color: #cc3333;
  font-size: 14px;
  margin-top: 5px; }

.onyx-input-decorator {
  padding: 10px 8px; }

.fixedWidthList {
  margin: 20px auto;
  padding: 0px 10px; }
  @media screen and (min-width: 650px) {
    .fixedWidthList {
      max-width: 500px; } }

.onyx-groupbox {
  margin-bottom: 15px; }

.onyx-menu {
  left: inherit;
  right: 0; }

.onyx-popup > .onyx-menu-item {
  margin: 0px; }

.onyx-menu, .onyx.onyx-menu {
  min-width: 200px; }

.onyx-toolbar .onyx-menu .onyx-popup-decorator {
  padding: 0px;
  bottom: 0px; }
.onyx-toolbar .onyx-menu.onyx-menu-up {
  margin-bottom: 5px; }
.onyx-toolbar .onyx-popup-decorator .onyx-icon-button {
  position: relative;
  bottom: 2px; }

.folderMenu {
  position: relative;
  right: 60px;
  bottom: -28px; }

.folderFeedTitle {
  font-size: 14px;
  padding: 0 0 0 25px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.grid .onyx-popup-decorator {
  position: relative;
  z-index: 10;
  bottom: 75px;
  padding: 10px; }

.onyx-menu.opensUp, .onyx.onyx-menu.opensUp {
  bottom: 100%;
  right: 0; }

.folderFeedTitle.unreadCount {
  font-weight: bold; }

.onyx-popup input {
  color: white !important; }
.onyx-popup .onyx-input-decorator {
  background-color: inherit; }
.onyx-popup .popupTitle {
  font-size: 20px;
  text-align: center; }
.onyx-popup .onyx-groupbox > :first-child {
  border-color: #444444; }
.onyx-popup .onyx-groupbox-header {
  color: #888;
  background-color: #444444; }
.onyx-popup .onyx-groupbox > * {
  border-color: #444444; }

.onyx-popup > * {
  margin: 10px 0px; }

.inputPrompt {
  color: #888; }

/* @TODO: Does this screw other stuff up?*/
.enyo-children-inline > *, .enyo-tool-decorator > * {
  display: block; }

.groupItem {
  padding: 10px; }
  .groupItem .onyx-toggle-button {
    position: relative;
    bottom: 4px; }
  .groupItem .onyx-checkbox {
    position: relative;
    bottom: 7px; }

.onyx-input-decorator .onyx-icon-button {
  position: relative;
  bottom: 5px;
  right: 2px; }

.resultTitle {
  font-size: 16px;
  text-decoration: underline;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.resultUrl {
  font-size: 14px;
  color: #888; }

.resultSnippet {
  font-size: 12px; }

/* Grid Page Stuff */
.onyx-toolbar .onyx-icon-button {
  /* Might work */ }
  @media screen and (min-width: 650px) {
    .onyx-toolbar .onyx-icon-button {
      margin-left: 10px;
      margin-right: 10px; } }
.onyx-toolbar .center {
  width: 100%;
  text-align: center; }
  .onyx-toolbar .center > * {
    background-position-x: center !important;
    width: 20%;
    margin: auto 0px; }

.grid {
  padding-left: 5px;
  padding-top: 5px;
  background: #666666 url("../../assets/grid-background.png") repeat top left; }

.iPad .grid-item .unread, .iPhone .grid-item .unread {
  bottom: 79px; }
.iPad .grid-item .icon, .iPhone .grid-item .icon {
  bottom: 90px; }

.grid-item {
  margin: 5px;
  padding-top: 5px;
  height: 88px;
  float: left;
  text-align: center;
  font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
  color: white;
  /*border: 1px red solid;*/ }
  @media screen and (min-width: 650px) {
    .grid-item {
      width: 110px; } }
  @media screen and (max-width: 650px) {
    .grid-item {
      width: 93px; } }
  .grid-item .unread {
    position: relative;
    z-index: 0;
    font-size: 15px;
    font-weight: bold;
    bottom: 72px; }
  .grid-item .icon {
    position: relative;
    bottom: 80px; }
  .grid-item .title {
    padding-top: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px; }
  .grid-item:active {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

.grid-item.opacity-transition {
  -webkit-transition: opacity 300ms ease-in-out; }

.subTitle {
  /*margin: auto;*/
  text-align: center;
  width: 100%;
  /*@TODO: CHANGE THIS WHEN WE CHANGE THE INCLUDE READ BUTTON */
  padding: 0px 10px 0px 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.onyx-button.full {
  width: 100%;
  margin: 5px 0; }

.itemUnreadIndicator {
  width: 10px;
  height: 78px;
  background-color: #ff7800;
  position: absolute;
  left: 0;
  margin-top: -10px;
  -webkit-transition: opacity 0.3s ease-out;
  /* Saf3.2+, Chrome */
  -moz-transition: opacity 0.3s ease-out;
  /* FF4+ */
  -o-transition: opacity 0.3s ease-out;
  /* Opera 10.5+ */
  transition: opacity 0.3s ease-out; }

.leftShadow {
  -webkit-box-shadow: -5px 0px 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -5px 0px 5px 2px rgba(0, 0, 0, 0.1);
  width: 10px;
  height: 78px;
  position: absolute;
  left: 10px;
  margin-top: -10px; }

.unreadIndicatorContainer {
  z-index: -10; }
  .unreadIndicatorContainer .unreadIndicator {
    width: 50px;
    height: 100%;
    background-color: #ff7800;
    -webkit-transition: opacity 0.3s ease-out;
    /* Saf3.2+, Chrome */
    -moz-transition: opacity 0.3s ease-out;
    /* FF4+ */
    -o-transition: opacity 0.3s ease-out;
    /* Opera 10.5+ */
    transition: opacity 0.3s ease-out; }

.articlePanel {
  /*z-index: -1;
  margin-top: 44px;*/
  /*height of toolbar*/ }
  .articlePanel .articleList {
    width: 350px; }
    .articlePanel .articleList .article-selected {
      background-color: rgba(10, 100, 255, 0.07); }
    .articlePanel .articleList .item, .articlePanel .articleList .item.Medium {
      font-size: 16px;
      max-height: 78px;
      min-height: 62px;
      /*.unreadIndicator {
      	min-height: $baseFontSize * 2 + 12px;
      }*/ }
      .articlePanel .articleList .item .articleTime, .articlePanel .articleList .item .articleSubtitle, .articlePanel .articleList .item.Medium .articleTime, .articlePanel .articleList .item.Medium .articleSubtitle {
        font-size: 14px; }
      .articlePanel .articleList .item .articleTitle, .articlePanel .articleList .item.Medium .articleTitle {
        max-height: 38px; }
    .articlePanel .articleList .item.Small {
      font-size: 14px;
      max-height: 72px;
      min-height: 58px;
      /*.unreadIndicator {
      	min-height: $baseFontSize * 2 + 12px;
      }*/ }
      .articlePanel .articleList .item.Small .articleTime, .articlePanel .articleList .item.Small .articleSubtitle {
        font-size: 12px; }
      .articlePanel .articleList .item.Small .articleTitle {
        max-height: 32px; }
    .articlePanel .articleList .item.Large {
      font-size: 18px;
      max-height: 84px;
      min-height: 66px;
      /*.unreadIndicator {
      	min-height: $baseFontSize * 2 + 12px;
      }*/ }
      .articlePanel .articleList .item.Large .articleTime, .articlePanel .articleList .item.Large .articleSubtitle {
        font-size: 16px; }
      .articlePanel .articleList .item.Large .articleTitle {
        max-height: 44px; }
    .articlePanel .articleList .item {
      border-bottom: 1px solid silver;
      border-right: 1px solid silver;
      padding: 10px 12px 5px 20px;
      /*background-color: #eee;*/
      font-size: 16px;
      max-height: 78px;
      min-height: 60px; }
      .articlePanel .articleList .item .articleTitle {
        text-overflow: ellipsis;
        overflow: hidden;
        /*white-space: nowrap;*/ }
      .articlePanel .articleList .item .articleTime {
        float: right;
        color: #888;
        padding-left: 5px; }
      .articlePanel .articleList .item .articleSubtitle {
        color: #888;
        padding: 5px 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
    .articlePanel .articleList .divider {
      background-color: #666;
      color: white;
      font-weight: normal;
      font-size: 14px;
      margin: 0;
      padding: 5px 25px; }
  .articlePanel .articleView {
    border-left: 1px #3A3A3A solid; }
    .articlePanel .articleView .articleContent {
      font-size: 16px;
      margin: 15px; }
      .articlePanel .articleView .articleContent img {
        max-width: 100% !important;
        padding: 5px !important;
        border: none !important;
        margin: auto !important;
        display: block !important; }
      .articlePanel .articleView .articleContent .firstImage {
        /*display: block !important;
        margin: auto !important;*/ }
    .articlePanel .articleView .articleTitle {
      font-weight: bold;
      font-size: 16px;
      margin: 15px; }
    .articlePanel .articleView .articleTime {
      margin: 20px;
      float: right;
      color: #888;
      font-size: 14px; }
