/* Variables for themes */
$red: #cc3333;

/* Classes used throughout */
.abs {
	position: absolute;
}
.floatRight {
	float: right;
}
.floatLeft {
	float:left;
}

@mixin truncated-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.truncating-text {
	@include truncated-text;
}

.loading {
	font-size: 26px;
	margin: 20px;
	text-align: center;
}

//overwrites of default styles

/* 
 *	Login Stuff
 */

/*.loginGroup {
	@media screen and (min-width: 400px) {
		width: 300px;
	}
	@media screen and (min-width: 500px) {
		width: 400px;
	}
	
}*/

/* CHECK FOR CROSS PLATFORM COMPATIBILITY */

.onyx-popup > * {
	margin: 10px 5px;
}
.onyx-popup {
	.onyx-button {
		width: 47.5%;
	}
}


.errorMessage {
	text-align: center;
	color: $red;
	font-size: 14px;
	margin-top: 5px;
}

.settingsList, .addFeedList, .loginGroup {
	margin: 20px auto;
	padding: 0px 10px;

	@media screen and (min-width: 650px) {
		max-width: 500px; 
	}
}

.onyx-groupbox {
	margin-bottom: 15px;
}
.onyx-menu {
	left: inherit;
	right: 0;
}

.onyx-popup > .onyx-menu-item {
	margin: 0px;
}
.onyx-menu, .onyx.onyx-menu {
	min-width: 200px;
}

.folderMenu {
	position: relative;
	right: 60px;
	bottom: 30px;
}
.folderFeedTitle {
	font-size: 14px;
	padding: 0 10px 0 25px;
	
	@include truncated-text;
}
.folderFeedIcon {
	
}

/* @TODO: Does this screw other stuff up?*/
.enyo-children-inline > *, .enyo-tool-decorator > * {
	display: block;
}
/*.onyx-popup {
	background: #eee;
	color: black;
}*/
.onyx-popup-decorator {
	padding: 10px;
}

.groupItem {
	padding: 10px;
}
.onyx-toggle-button {
	position: relative;
	bottom: 4px;
}


/* Grid Page Stuff */

.onyx-toolbar {
	.onyx-icon-button {
		/* Might work */
		@media screen and (min-width: 650px) {
			margin: {
				left: 10px;
				right: 10px;
			}
		}
	}
	.center {
		width: 100%;
		text-align: center;
	}
}

.grid {
	padding-left: 5px;
	padding-top: 5px;
	background: #666 url("../../assets/grid-background.png") repeat top left;
}

$unreadDisplaceY: 72px;
$iconDisplaceY: $unreadDisplaceY + 8px;

.iPad, .iPhone, {
	.grid-item {
		.unread {
			bottom: $unreadDisplaceY + 7px;
		}
		.icon {
			bottom: $iconDisplaceY + 10px;
		}
	}
}
.grid-item {
	margin: 5px;
	padding-top: 5px;
	height: 88px; 
	@media screen and (min-width: 650px) {
		width: 110px; 
	}
	@media screen and (max-width: 650px) {
		width: 93px; 
	}
	float: left; 
	text-align: center;
	font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
	color: white;

	
	/*border: 1px red solid;*/
	.unread {
		position: relative;
		font-size: 15px;
		font-weight: bold;
		bottom: $unreadDisplaceY;
		// I want this to work.
		//hasClass(.iPad, .iPhone) {
		//	bottom: $unreadDisplaceY + 7px;
		//}
	}
	.icon {
		position: relative;
		bottom: $iconDisplaceY;
		//I want this to work
		//hasClass(.iPad, .iPhone) {
		//	bottom: $iconDisplaceY + 10px;
		//}
	}
	.title {
		padding-top: 2px;	
		@include truncated-text;
		font-size: 16px;
	}
	&:active {
		background-color: rgba(0,0,0,.1);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

	}

}

.subTitle {
	/*margin: auto;*/
 	text-align: center;
	width: 100%;
	/*@TODO: CHANGE THIS WHEN WE CHANGE THE INCLUDE READ BUTTON */
	padding: 0px 10px 0px 85px;
	@include truncated-text;
}


.onyx-button.full {
	width: 100%;
	margin: 5px 0;
}

@mixin articleItem($baseFontSize) {

	font-size: $baseFontSize;
	max-height: ($baseFontSize * 2) + ($baseFontSize - 2px) + 32px; //64px;
	min-height: ($baseFontSize) + ($baseFontSize - 2px) + 32px; //48px;

	.articleTime, .articleSubtitle {
		font-size: $baseFontSize - 2px;
	}
	.articleTitle {
		max-height: $baseFontSize * 2 + ($baseFontSize - 10px)
	}	

	.unreadIndicator {
		min-height: $baseFontSize * 2 + 12px;
	}
}


.articlePanel {
	z-index: -1;
	margin-top: 54px; /*height of toolbar*/

	
	.articleList {
		width: 350px;	
		
		.article-selected {
			background-color: rgba(10, 100, 255, 0.07)
		}

		.item, .item.Medium {
			@include articleItem(16px);
		}
		.item.Small {
			@include articleItem(14px);
		}
		.item.Large {
			@include articleItem(18px);
		}

		.item {
			border-bottom: 1px solid silver;
			padding: 10px 12px 5px 20px;
			/*background-color: #eee;*/
			font-size: 16px;
			max-height: 78px;
			min-height: 60px;


			.unreadIndicator {
				width: 5px;
				/*@TODO: work on this more. I want this to stretch.*/
				height: 100%;
				float: left;
				position: relative;
				bottom: 3px;
				right: 10px;
				background-color: #ff7800;
			}

			.articleTitle {
				text-overflow: ellipsis;
				overflow: hidden;
				/*white-space: nowrap;*/
			}

			.articleTime {
				float: right;
				color: #888;
				padding-left: 5px;
			}

			.articleSubtitle {
				color: #888;
				padding: 5px 0px;
				@include truncated-text;
			}
		}

		.divider {
			background-color: #666;
			color: white;
			font-weight: normal;
			font-size: 14px;
			margin: 0;
			padding: 5px 25px;

		}

	}

	.articleView {
		border-left: 1px #3A3A3A solid;

		.articleContent {
			font-size: 16px;
			margin: 15px;
		}	
		.articleTitle {
			font-weight: bold;
			font-size: 16px;
			margin: 15px;
		}
		.articleTime {
			margin: 20px;
			float: right;
			color: #888;
			font-size: 14px;
		}
	}
	
}